.match-of-the-day {
    display: flex;
    height: 200px;
    width: 100%;
    background: green;
}

.rankings {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

.nba-ranking {
    display: flex;
    justify-content: center;
    width: 70%;
    height: auto;
    background: purple;
}

.user-ranking {
    display: flex;
    width: 30%;
    height: auto;
    background: rgb(205, 208, 211);
}

.conference-ranking {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}